#intro-screen {
  text-align: center;

  &__title {
    font-size: $title-font-size-xl;
  }

  h2 {
    animation: text-blink 1.5s ease-in-out infinite;
    font-size: 3.6rem;
    -webkit-text-stroke-width: 1px;

    -webkit-text-stroke-color: black;
  }
}

