#intro-screen {
  text-align: center;


  &__title {
    font-size: $title-font-size-xl;

  }

  h2 {
    animation: text-blink 1.5s ease-in-out infinite;
    font-size: 36px;
    -webkit-text-stroke-width: 1px;

    -webkit-text-stroke-color: black;
  }
}

@keyframes text-blink {
  0% {
  opacity: 100;
  }
  50% {
  opacity: 0;
  }
  100% {
  opacity: 100;
  }
}