html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Nico-Moji";
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.d-flex, .container, .end-screen__result-grids__end-streaks-grid, .end-screen__result-grids__end-score-grid, .end-screen__result-grids__cover-art-grid, .end-screen__result-grids > div:nth-child(n+2), .end-screen, .start-screen__song-cards__song-card__song-title, .start-screen__song-cards__song-card, .start-screen {
  display: flex;
}

@font-face {
  font-family: "Nico-Moji";
  src: url("./assets/fonts/nico-moji/Nico-Moji.ttf.woff") format("woff"), url("./assets/fonts/nico-moji/Nico-Moji.ttf.svg#Nico-Moji") format("svg"), url("./assets/fonts/nico-moji/Nico-Moji.ttf.eot"), url("./assets/fonts/nico-moji/Nico-Moji.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
#intro-screen {
  text-align: center;
}
#intro-screen__title {
  font-size: 12rem;
}
#intro-screen h2 {
  animation: text-blink 1.5s ease-in-out infinite;
  font-size: 3.6rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.start-screen {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.start-screen > p {
  color: #95FF95;
}
.start-screen__song-cards {
  display: grid;
  width: 100%;
  align-self: center;
  justify-self: center;
  padding: 0;
  margin: 0;
}
.start-screen__song-cards__song-card:hover {
  cursor: pointer;
}
.start-screen__song-cards__song-card:focus {
  background-color: red;
  outline: none;
}
.start-screen__song-cards__song-card {
  flex-direction: column;
  padding-top: 5rem;
  width: 50rem;
  height: 55rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: transparent;
}
.start-screen__song-cards__song-card__cover-art {
  min-width: 40rem;
  min-height: 40rem;
  margin: 1rem auto 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.start-screen__song-cards__song-card__song-title {
  height: 12rem;
  justify-content: center;
  align-items: center;
  margin: 0 6rem;
}
.start-screen__song-cards__song-card__song-title > p {
  margin: 0;
  font-size: 3.6rem;
}
.start-screen__song-cards__song-card__artist {
  font-size: 2.4rem;
  padding-bottom: 3rem;
}

.game-screen {
  height: 100vh;
  width: 90%;
}
.game-screen__game-grids {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  margin: 5rem auto 0 auto;
  height: 90%;
  font-size: 4.8rem;
}
.game-screen__game-grids > div:first-child {
  width: 100%;
  position: relative;
  grid-row: 1/span 4;
  grid-column: 1/span 3;
}
.game-screen__game-grids__score-holder__score {
  font-size: 10rem;
}
.game-screen__game-grids__streaks-holder__streaks {
  font-size: 10rem;
}
.game-screen__game-grids__now-playing {
  grid-row: 3/span 2;
  background-color: green;
}

.end-screen {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.end-screen > h2 {
  margin-top: 5rem;
  width: 60%;
  text-align: center;
  font-size: 3rem;
  animation: text-blink 1.2s ease-in-out infinite;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.1rem;
}
.end-screen__result-grids {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  width: 80%;
  height: 60rem;
  font-size: 3.6rem;
}
.end-screen__result-grids > div:nth-child(n+2) {
  justify-content: center;
  align-items: center;
}
.end-screen__result-grids__cover-art-grid {
  grid-row: span 2;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8rem;
  align-items: center;
  height: 100%;
}
.end-screen__result-grids__cover-art-grid > div {
  text-align: center;
}
.end-screen__result-grids__cover-art-grid__cover-art {
  width: 100%;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin: 0 0 1rem 0;
}
.end-screen__result-grids__cover-art-grid__song-title {
  margin: 1rem 0;
  padding: 0 5rem;
}
.end-screen__result-grids__end-score-grid {
  flex-direction: column;
}
.end-screen__result-grids__end-score-grid__end-score {
  font-size: 7.2rem;
}
.end-screen__result-grids__end-streaks-grid {
  flex-direction: column;
}
.end-screen__result-grids__end-streaks-grid__end-streaks {
  font-size: 7.2rem;
}
.end-screen__result-grids__grade {
  font-family: "Trebuchet MS";
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.5rem;
  font-style: italic;
  font-weight: bold;
  font-size: 25rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.container {
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/img/disco-ball-bg.jpeg");
  background-size: 90%;
  background-position-x: 400px;
}

.selected {
  animation: frame-blink 1.2s ease-in-out;
  border: 3px solid #95FF95;
  zoom: 1.05;
}

@keyframes frame-blink {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 40;
  }
  100% {
    opacity: 100;
  }
}
@keyframes text-blink {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.title {
  font-size: 9.6rem;
  margin-top: 0;
  margin: 2rem 0 0 0;
}

#quit-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 3;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
  border: none;
}
#quit-button:focus {
  outline: none;
}

#canvas-overlay {
  position: absolute;
  z-index: 0;
  top: 5rem;
  left: 28.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 70rem;
  height: 82rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#canvas-overlay > div {
  border: 1px solid lightgrey;
}

/*# sourceMappingURL=output.css.map */
