//Brand color

$white: #ffffff;
$lightgreen: #95FF95;
$lightyellow: #FFFF77;
$lightblue: #6B6BFB;
$lightred: #F57272;

$title-font-size-xl: 12rem;
$title-font-size-l: 9.6rem;
$background-image: url('./assets/img/disco-ball-bg.jpeg')