@font-face {
  font-family: 'Nico-Moji';
  src:url('./assets/fonts/nico-moji/Nico-Moji.ttf.woff') format('woff'),
  url('./assets/fonts/nico-moji/Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
  url('./assets/fonts/nico-moji/Nico-Moji.ttf.eot'),
  url('./assets/fonts/nico-moji/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}